## üìù Phase 1 Summary: Data Ingestion & Preparation

**Key Milestones:**
* ‚úÖ **Environment Setup:** Established a professional workflow using VS Code + Virtual Environment (venv).
* ‚úÖ **Data Integration:** Successfully consolidated multiple datasets (Audi, BMW, Toyota) using `pd.concat`.
* ‚úÖ **Feature Engineering:** Created the `brand` column to preserve context after merging.
* ‚úÖ **Data Quality:** Performed sanity checks, removing duplicates and validating null values to ensure dataset integrity.

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data load
print('Loading data..')
df_audi = pd.read_csv('../data/raw/audi.csv')
df_bmw = pd.read_csv('../data/raw/bmw.csv')
df_toyota = pd.read_csv('../data/raw/toyota.csv')

# Labels
df_audi['brand'] = "Audi"
df_bmw['brand'] = "BMW"
df_toyota['brand'] = "Toyota"

# We concatenate to create a superdataset
df_cars = pd.concat([df_audi, df_bmw, df_toyota], axis=0)
df_cars.reset_index(drop=True, inplace=True)

# ¬°Testing!
print(f"¬°Success! Dataset created with {df_cars.shape[0]} cars.")
df_cars.head()

Loading data..
¬°Success! Dataset created with 28187 cars.

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,Audi
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,Audi
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,Audi
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,Audi
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,Audi

In [12]:
# Information about datatypes
df_cars.dtypes

model            object
year              int64
price             int64
transmission     object
mileage           int64
fuelType         object
tax               int64
mpg             float64
engineSize      float64
brand            object
dtype: object

In [13]:
# How many cars are there of each brand in total? (In avg)
brands_quantity = df_cars['brand'].value_counts(normalize=True) * 100
print(brands_quantity.round(2))

brand
BMW       38.25
Audi      37.85
Toyota    23.90
Name: proportion, dtype: float64

In [14]:
# What is the average price of an Audi compared to a Toyota?
price_analisis = df_cars.groupby('brand')['price'].agg(['count', 'mean', 'median', 'min', 'max']).sort_values(
    by='mean',
    ascending=False
)

print(price_analisis.round(2))

        count      mean   median   min     max
brand
Audi    10668  22896.69  20200.0  1490  145000
BMW     10781  22733.41  20462.0  1200  123456
Toyota   6738  12522.39  10795.0   850   59995

In [15]:
# Are there any null (empty) values that we should be concerned about?
df_cars.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
brand           0
dtype: int64

In [16]:
# Are there duplicated values?
duplicated_cars = df_cars.duplicated().sum()
print(f"Duplicates found: {duplicated_cars}")

Duplicates found: 259

In [17]:
# Keep keeps the first record it found and deletes the duplicates
# Inplace modify the current dataframe, don't create a new one
df_cars.drop_duplicates(keep='first', inplace=True)

In [18]:
# We check that there are no duplicate values and redefine the size of the dataset
print(f"Remaining duplicates: {df_cars.duplicated().sum()}")
print(f"New dataset size: {df_cars.shape}")

Remaining duplicates: 0
New dataset size: (27928, 10)

In [19]:
# Are there values that shouldn't be there?
error_price = df_cars[df_cars['price'] == 0]
print(f"Cars with 0 price: {len(error_price)}")

Cars with 0 price: 0

In [20]:
# Save the clean dataset, ready for the next time
# index=False is so that it doesn't save the column of numbers 0,1,2... in the file
df_cars.to_csv('../data/processed/cleaned_cars.csv', index=False)
print("¬°Saved file!")

¬°Saved file!